
.imagenCarousel {
  height: 200px;
}

.ruedasFondo {
    background-image: url("/images/fondo2.png");
    height: 200px;
    background-size: cover;
    background-position: center top;
    padding:15%;
    display: flex;
}
 @media (min-width: 1000px) { 
   .conteiner {
    margin: 1px solid black; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
   }
   .carousel-inner{
      box-shadow: slateblue;
      min-width: 900px !important;
     
   }
  }
  