
.imagenCarousel {
  height: 200px;
}

.ruedasFondo {
    background-image: url('../images/fondo2.png');
    height: 200px;
    background-size: cover;
    background-position: center top;
    padding:15%;
    display: flex;
}
